
.sidebar{
    
    width: 30vw;
    height: 610px;
    left: 0;
    position: sticky;
   
    background-color: rgb(121, 3, 121);
    
}

/* width */
 ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar:hover {
    width: px;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.highlight
{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.sidebar__header{
    
    overflow-x: hidden;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /* background-color:rgba(92, 2, 92, 1); */
    top: 0;
    position: sticky;
    z-index: 100;
    overflow: hidden;
}

.sidebar__header__title {
    font-weight: bold;
    font-size: large;
    display: inline;
    margin: 10px;
    font-size: large;
    text-overflow: ellipsis;
    
}
.sidebar__header > div 
{
    display: flex;
    justify-content: flex-end;

}
.sidebar__header >  .MuiSvgIcon-root {
    margin: 10px;
    /* margin-right: 20px; */
    color: whitesmoke;
    cursor: pointer;
   
}
.sidebar__channels {
    margin: 10px;
    height: 250px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: purple;
    scrollbar-width: thin;
    
    
    
}

.sidebar__channels > b {
    margin-bottom: 10px !important;
}


@media(max-width:600px){
    .sidebar__header__title {
        font-weight: bold;
        font-size: large;
        display: inline;
        margin-left: 10px;
        font-size: small;
        text-overflow: ellipsis;
        
    }
    .sidebar__header > div > .MuiSvgIcon-root {
        margin: 1px;
        /* margin-right: 20px; */
        color: whitesmoke;
        cursor: pointer;
       
    }
  }